* {
    box-sizing: border-box;
}

body {
    
    background-color: brown;
   
}

button {
   
   
    background-color: black;
    color: silver;
    
}
input {
   
    color: silver;
    
    background-color: black;
    
}
